* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(120deg, #c973ff, #aebaf8)
}

p {
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    width: 100%;
    height: 100%;
    white-space: normal;
}

button {
    width: 75px;
    font-size: 1.5em;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

button:hover {
    border: 2px solid black;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 350px;
    padding: 5px;
    gap: 1em;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.screen-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    margin: 8px 8px 8px 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px)
}

#large-screen { 
    height: 40px;
    font-size: 1.8em;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#large-screen::-webkit-scrollbar {
  height: 4px;
}

#large-screen::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

#large-screen::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

#mini-screen {
    color: rgba(0, 0, 0, 0.6);
    height: 40px;
    font-size: 1em;
}

#equal {
    background-color: rgb(180, 84, 240, 0.8);
}

#square {
    background: rgba(255, 255, 255, 0.3);
}

.button-row {
    display: flex;
    height: 70px;
    padding: 5px;
    justify-content: space-around;
}

.operator-btn {
    background-color: rgba(201, 115, 255, 0.239);
}
